#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption
  &:before
    font-family: font-icon
    font-weight: normal
    margin-right: 4px

.widget-title.archive
  &:before
    content: "\f187"

.widget-title.category
  &:before
    content: "\f00b"

.widget-title.profile
  &:before
    content: "\f2be"

.widget-title.recent
  &:before
    content: "\f017"

.widget-title.tag
  &:before
    content: "\f02c"

.widget-title.tagcloud
  &:before
    content: "\f0c2"

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.widget.profile img
  border-radius: 6px
  display: block
  margin-left: auto
  margin-right: auto
  height: auto
  width: auto
  max-height: 100%
  max-width: 100%
  margin-bottom: 12px

.widget.profile .outline
  margin-bottom: 12px

.widget.profile .outline strong
  color: color-default
  font-size: 24px

.widget.profile .outline code
  font-family: font-mono

.widget.profile .links .separator
  margin: 0 4px

$widget-profile-link
  margin: 0 4px
  &:before
    font-size: 18px
    font-family: font-icon
    font-weight: normal
  &:hover
    text-decoration: none !important

.widget-profile-link-twitter
  @extend $widget-profile-link
  &:before
    content: "\f099"
    color: #55acee
    font-size: 24px

.widget-profile-link-github
  @extend $widget-profile-link
  &:before
    content: "\f09b"
    color: #333
    font-size: 24px

.widget-profile-link-about
  @extend $widget-profile-link
  &:before
    content: "\f05a"
    color: #777

.widget-profile-link-pp
  @extend $widget-profile-link
  &:before
    content: "\f0a3"
    color: #777
