<div class="widget-wrap">
  <h3 class="widget-title profile">Profile</h3>
  <div class="widget profile">
    <div><img src="/assets/profile.jpg" /></div>
    <div class="outline">
      <strong>Azriton</strong> (<code>@azriton</code>) <br />
      IT エンジニア に なりたかった、ただの何でも屋、いや ただの酒呑み. 日本酒 バーボン ビール に アブサン 焼酎 どぶろく テキーラ なんでも来いっす. <br />
    </div>
    <div class="links">
      <a href="https://twitter.com/azriton" class="widget-profile-link-twitter" target="_blank" title="Twitter @azriton"></a>
      <a href="https://github.com/azriton" class="widget-profile-link-github" target="_blank" title="GitHub @azriton"></a>
      <a href="/atom.xml" class="widget-profile-link-atom" target="_blank" title="RSS/Atom"></a>
      <span class="separator">|</span>
      <a href="/pages/about.html" class="widget-profile-link-about" title="このサイトについて"></a>
      <a href="/pages/pp.html" class="widget-profile-link-pp" title="プライバシーポリシー"></a>
    </div>
  </div>
</div>
